#form-title{
	text-decoration:underline;
	color:#800000;
	text-align:center;
	font-size:1.5rem;
	font-family:Arial;
}
input[type="text"], input[type="password"]{
	width:90%;
	height:40px;
	display:block;
	margin:10px 0px;
	padding-left:20px;
}
input[type="radio"]{
	display:inline;
}
.radio-container{
	margin:15px 0px;
}
select{
	margin:10px 0px;
	display:block;
}

.btn{
	margin:20px 0px;
}